// Attention Seekers
$use-bounce					         : false ;
$use-flash					         : false ;
$use-pulse					         : false ;
$use-rubberBand				       : false ;
$use-shake					         : false ;
$use-swing					         : false ;
$use-tada					           : false ;
$use-wobble					         : false ;
$use-jello					         : false ;


// Bouncing Entrances
$use-bounceIn				         : false ;
$use-bounceInDown			       : true ;
$use-bounceInLeft			       : false ;
$use-bounceInRight		       : false ;
$use-bounceInUp				       : false ;


//Bouncing Exits
$use-bounceOut				       : false ;
$use-bounceOutDown			     : false ;
$use-bounceOutLeft			     : false ;
$use-bounceOutRight			     : false ;
$use-bounceOutUp			       : false ;


// Fading Entrances
$use-fadeIn					         : false ;
$use-fadeInDown				       : false ;
$use-fadeInDownBig			     : false ;
$use-fadeInLeft				       : false ;
$use-fadeInLeftBig			     : false ;
$use-fadeInRight			       : false ;
$use-fadeInRightBig			     : false ;
$use-fadeInUp				         : true ;
$use-fadeInUpBig			       : false ;


// Fading Exits
$use-fadeOut				         : false ;
$use-fadeOutDown			       : false ;
$use-fadeOutDownBig			     : false ;
$use-fadeOutLeft			       : false ;
$use-fadeOutLeftBig			     : false ;
$use-fadeOutRight			       : false ;
$use-fadeOutRightBig		     : false ;
$use-fadeOutUp				       : false ;
$use-fadeOutUpBig			       : false ;


// Flippers
$use-flip					           : false ;
$use-flipInX				         : false ;
$use-flipInY				         : false ;
$use-flipOutX				         : false ;
$use-flipOutY				         : false ;


// Lightspeed
$use-lightSpeedIn			       : false ;
$use-lightSpeedOut			     : false ;


// Rotating Entrances
$use-rotateIn				         : false ;
$use-rotateInDownLeft		     : false ;
$use-rotateInDownRight	     : false ;
$use-rotateInUpLeft			     : false ;
$use-rotateInUpRight		     : false ;


// Rotating Exits
$use-rotateOut				       : false ;
$use-rotateOutDownLeft		   : false ;
$use-rotateOutDownRight		   : false ;
$use-rotateOutUpLeft		     : false ;
$use-rotateOutUpRight		     : false ;


// Sliding Entrances
$use-slideInUp				       : false ;
$use-slideInDown			       : false ;
$use-slideInLeft			       : true ;
$use-slideInRight			       : true ;


// Sliding Exits
$use-slideOutUp				       : false ;
$use-slideOutDown			       : false ;
$use-slideOutLeft			       : false ;
$use-slideOutRight			     : false ;


// Zoom Entrances
$use-zoomIn					         : false ;
$use-zoomInDown				       : false ;
$use-zoomInLeft				       : false ;
$use-zoomInRight			       : false ;
$use-zoomInUp				         : false ;

 
// Zoom Exits
$use-zoomOut				         : false ;
$use-zoomOutDown			       : false ;
$use-zoomOutLeft			       : false ;
$use-zoomOutRight			       : false ;
$use-zoomOutUp				       : false ;


// Specials
$use-hinge					         : false ;
$use-rollIn					         : false ;
$use-rollOut				         : false ;





// Animation Attention Seekers
@if $use-bounce == true {
  @include keyframes (bounce) {
    0% {
      @include transform(translateY(0));
    }
    20% {
      @include transform(translateY(0)) ;
    }
    40% {
      @include transform(translateY(-30px));
    }
    50% {
      @include transform(translateY(0));
    }
    60% {
      @include transform(translateY(-15px));
    }
    80% {
      @include transform(translateY(0));
    }
    100% {
      @include transform(translateY(0));
    }
  }
}

@if $use-flash == true {
  @include keyframes (flash) {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@if $use-pulse == true {
	@include keyframes (pulse) {
		0% { 
			@include transform(scale(1));
		}
		50% { 
			@include transform(scale(1.1));
		}
		100% { 
			@include transform(scale(1));
		}
	}
}

@if $use-rubberBand == true {
	@include keyframes (rubberBand) {
		0% {
			@include transform(scale3d(1, 1, 1));
		}
		30% {
			@include transform(scale3d(1.25, 0.75, 1));
		}
		40% {
			@include transform(scale3d(0.75, 1.25, 1));
		}
		50% {
			@include transform(scale3d(1.15, 0.85, 1));
		}
		65% {
			@include transform(scale3d(.95, 1.05, 1));
		}
		75% {
			@include transform(scale3d(1.05, .95, 1));
		}
		100% {
			@include transform(scale3d(1, 1, 1))
		}
	}
}

@if $use-shake == true {
  @include keyframes (shake) {
    0% {
      @include transform(translateX(0));
    }
    10% {
      @include transform(translateX(-10px));
    }
    20% {
      @include transform(translateX(10px));
    }
    30% {
      @include transform(translateX(-10px));
    }
    40% {
      @include transform(translateX(10px));
    }
    50% {
      @include transform(translateX(-10px));
    }
    60% {
      @include transform(translateX(10px));
    }
    70% {
      @include transform(translateX(-10px));
    }
    80% {
      @include transform(translateX(10px));
    }
    90% {
      @include transform(translateX(-10px));
    }
    100% {
      @include transform(translateX(0));
    }
  }
}

@if $use-swing == true {
	@keyframes swing {
		20% { 
			@include transform(rotate(15deg));
		}
		40% { 
			@include transform(rotate(-10deg));
		}
		60% { 
			@include transform(rotate(5deg));
		}
		80% { 
			@include transform(rotate(-5deg));
		}
		100% { 
			@include transform(rotate(0deg));
		}
	}
}

@if $use-tada == true {
  @include keyframes (tada) {
    0% {
      @include transform(scale(1));
    }
    10% {
      @include transform(scale(0.9) rotate(-3deg));
    }
    20% {
      @include transform(scale(0.9) rotate(-3deg));
    }
    30% {
      @include transform(scale(1.1) rotate(3deg));
    }
    40% {
      @include transform(scale(1.1) rotate(-3deg));
    }
    50% {
      @include transform(scale(1.1) rotate(3deg));
    }
    60% {
      @include transform(scale(1.1) rotate(-3deg));
    }
    70% {
      @include transform(scale(1.1) rotate(3deg));
    }
    80% {
      @include transform(scale(1.1) rotate(-3deg));
    }
    90% {
      @include transform(scale(1.1) rotate(3deg));
    }
    100% {
      @include transform(scale(1) rotate(0));
    }
  }
}

@if $use-wobble == true {
	@-webkit-keyframes wobble {
	  0% { 
	  	@include transform(translateX(0%)); 
	  }
	  15% { 
	  	@include transform(translateX(-25%) rotate(-5deg)); 
	  }
	  30% { 
	  	@include transform(translateX(20%) rotate(3deg)); 
	  }
	  45% { 
	  	@include transform(translateX(-15%) rotate(-3deg)); 
	  }
	  60% { 
	  	@include transform(translateX(10%) rotate(2deg)); 
	  }
	  75% { 
	  	@include transform(translateX(-5%) rotate(-1deg)); 
	  }
	  100% { 
	  	@include transform(translateX(0%)); 
	  }
	}
}

@if $use-jello == true {
	@-webkit-keyframes jello {
		0%, 11.1%, 100% {
			@include transform(none);
		}
		22.2% {
			@include transform(skewX(-12.5deg) skewY(-12.5deg));
		}
		33.3% {
			@include transform(skewX(6.25deg) skewY(6.25deg));
		}
		44.4% {
			@include transform(skewX(-3.125deg) skewY(-3.125deg));
		}
		55.5% {
			@include transform(skewX(1.5625deg) skewY(1.5625deg));
		}
		66.6% {
			@include transform(skewX(-0.78125deg) skewY(-0.78125deg));
		}
		77.7% {
			@include transform(skewX(0.390625deg) skewY(0.390625deg));
		}
		88.8% {
			@include transform(skewX(-0.1953125deg) skewY(-0.1953125deg));
		}
	}
}



// Animation Bouncing Entrances
@if $use-bounceIn == true {
  @include keyframes (bounceIn) {
    0% {
      opacity: 0;
      @include transform(scale(0.3));
    }
    50% {
      opacity: 1;
      @include transform(scale(1.05));
    }
    70% {
      @include transform(scale(0.9)) ;
    }
    100% {
      @include transform(scale(1));
    }
  }
}

@if $use-bounceInDown == true {
  @include keyframes (bounceInDown) {
    0% {
      opacity: 0;
      @include transform(translateY(-2000px));
    }
    60% {
      opacity: 1;
      @include transform(translateY(30px));
    }
    80% {
      @include transform(translateY(-10px));
    }
    100% {
      @include transform(translateY(0));
    }
  }
}

@if $use-bounceInLeft == true {
  @include keyframes (bounceInLeft) {
    0% {
      opacity: 0;
      @include transform(translateX(-2000px));
    }
    60% {
      opacity: 1;
      @include transform(translateX(30px));
    }
    80% {
      @include transform(translateX(-10px));
    }
    100% {
      @include transform(translateX(0));
    }
  }
}

@if $use-bounceInRight == true {
  @include keyframes (bounceInRight) {
    0% {
      opacity: 0;
      @include transform(translateX(2000px));
    }
    60% {
      opacity: 1;
      @include transform(translateX(-30px));
    }
    80% {
      @include transform(translateX(10px));
    }
    100% {
      @include transform(translateX(0)) ;
    }
  }
}

@if $use-bounceInUp == true {
  @include keyframes (bounceInUp) {
    0% {
      opacity: 0;
      @include transform(translateY(2000px));
    }
    60% {
      opacity: 1;
      @include transform(translateY(-30px));
    }
    80% {
      @include transform(translateY(10px));
    }
    100% {
      @include transform(translateY(0));
    }
  }
}



// Animation Bouncing Exits
@if $use-bounceOut == true {
  @include keyframes (bounceOut) {
    0% {
      @include transform(scale(1));
    }
    25% {
      @include transform(scale(0.95));
    }
    50% {
      opacity: 1;
      @include transform(scale(1.1));
    }
    100% {
      opacity: 0;
      @include transform(scale(0.3));
    }
  }
}

@if $use-bounceOutDown == true {
  @include keyframes (bounceOutDown) {
    0% {
      @include transform(translateY(0));
    }
    20% {
      opacity: 1;
      @include transform(translateY(-20px));
    }
    100% {
      opacity: 0;
      @include transform(translateY(2000px));
    }
  }
}

@if $use-bounceOutLeft == true {
  @include keyframes (bounceOutLeft) {
    0% {
      @include transform(translateX(0));
    }
    20% {
      opacity: 1;
      @include transform(translateX(20px));
    }
    100% {
      opacity: 0;
      @include transform(translateX(-2000px));
    }
  }
}

@if $use-bounceOutRight == true {
  @include keyframes (bounceOutRight) {
    0% {
      @include transform(translateX(0));
    }
    20% {
      opacity: 1;
      @include transform(translateX(-20px));
    }
    100% {
      opacity: 0;
      @include transform(translateX(2000px));
    }
  }
}

@if $use-bounceOutUp == true {
  @include keyframes (bounceOutUp) {
    0% {
      @include transform(translateY(0));
    }
    20% {
      opacity: 1;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 0;
      @include transform(translateY(-2000px));
    }
  }
}



// Animation Fading Entrances 
@if $use-fadeIn == true {
	@include keyframes (fadeIn) {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@if $use-fadeInDown == true {
	@include keyframes (fadeInDown) {
		0% {
			opacity: 0;
			@include transform(translateY(-20px));
		}
		100% {
			opacity: 1;
			@include transform(translateY(0));
		}
	}
}

@if $use-fadeInDownBig == true {
	@include keyframes (fadeInDownBig) {
		0% {
			opacity: 0;
			@include transform(translateY(-2000px));
		}
		100% {
			opacity: 1;
			@include transform(translateY(0));
		}
	}
}

@if $use-fadeInLeft == true {
  @include keyframes (fadeInLeft) {
    0% {
      opacity: 0;
      @include transform(translateX(-20px));
    }
    100% {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@if $use-fadeInLeftBig == true {
  @include keyframes (fadeInLeftBig) {
    0% {
      opacity: 0;
      @include transform(translateX(-2000px));
    }
    100% {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@if $use-fadeInRight == true {
  @include keyframes (fadeInRight) {
    0% {
      opacity: 0;
      @include transform(translateX(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@if $use-fadeInRightBig == true {
  @include keyframes (fadeInRightBig) {
    0% {
      opacity: 0;
      @include transform(translateX(2000px));
    }
    100% {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@if $use-fadeInUp == true {
  @include keyframes (fadeInUp) {
    0% {
      opacity: 0;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}

@if $use-fadeInUpBig == true {
  @include keyframes (fadeInUpBig) {
    0% {
      opacity: 0;
      @include transform(translateY(2000px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}



// Animation Fading Exits 
@if $use-fadeOut == true {
  @include keyframes (fadeOut) {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@if $use-fadeOutDown == true {
  @include keyframes (fadeOutDown) {
    0% {
      opacity: 1;
      @include transform(translateY(0));
    }
    100% {
      opacity: 0;
      @include transform(translateY(20px));
    }
  }
}

@if $use-fadeOutDownBig == true {
  @include keyframes (fadeOutDownBig) {
    0% {
      opacity: 1;
      @include transform(translateY(0));
    }
    100% {
      opacity: 0;
      @include transform(translateY(2000px));
    }
  }
}

@if $use-fadeOutLeft == true {
  @include keyframes (fadeOutLeft) {
    0% {
      opacity: 1;
      @include transform(translateX(0));
    }
    100% {
      opacity: 0;
      @include transform(translateX(-20px));
    }
  }
}

@if $use-fadeOutLeftBig == true {
  @include keyframes (fadeOutLeftBig) {
    0% {
      opacity: 1;
      @include transform(translateX(0));
    }
    100% {
      opacity: 0;
      @include transform(translateX(-2000px));
    }
  }
}

@if $use-fadeOutRight == true {
  @include keyframes (fadeOutRight) {
    0% {
      opacity: 1;
      @include transform(translateX(0));
    }
    100% {
      opacity: 0;
      @include transform(translateX(20px));
    }
  }
}

@if $use-fadeOutRightBig == true {
  @include keyframes (fadeOutRightBig) {
    0% {
      opacity: 1;
      @include transform(translateX(0));
    }
    100% {
      opacity: 0;
      @include transform(translateX(2000px));
    }
  }
}

@if $use-fadeOutUp == true {
  @include keyframes (fadeOutUp) {
    0% {
      opacity: 1;
      @include transform(translateY(0));
    }
    100% {
      opacity: 0;
      @include transform(translateY(-20px));
    }
  }
}

@if $use-fadeOutUpBig == true {
  @include keyframes (fadeOutUpBig) {
    0% {
      opacity: 1;
      @include transform(translateY(0));
    }
    100% {
      opacity: 0;
      @include transform(translateY(-2000px));
    }
  }
}



// Animation Flippers 
@if $use-flip == true {
  @include keyframes (flip) {
    0% {
      @include transform(perspective(400px) rotate3d(0, 1, 0, -360deg));
      @include animation-timing-function(ease-out);
    }
    40% {
      @include transform(perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg));
      @include animation-timing-function(ease-out);
    }
    50% {
      @include transform(perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg));
      @include animation-timing-function(ease-in);
    }
    80% {
      @include transform(perspective(400px) scale3d(.95, .95, .95));
      @include animation-timing-function(ease-in);
    }
    100% {
      @include transform(perspective(400px));
      @include animation-timing-function(ease-in);
    }
  }
}

@if $use-flipInX == true {
	@include keyframes (flipInX) {
        0% {
            @include transform(perspective(400px) rotateX(90deg));
            opacity: 0;
        }

        40% {
            @include transform(perspective(400px) rotateX(-10deg));
        }

        70% {
            @include transform(perspective(400px) rotateX(10deg));
        }

        100% {
        	@include transform(perspective(400px) rotateX(0deg));
            opacity: 1;
        }
    }
}

@if $use-flipInY == true {
	@keyframes flipInY {
		0% {
			@include transform(perspective(400px) rotateY(90deg));
			opacity: 0;
		}
		40% {
			@include transform(perspective(400px) rotateY(-10deg));
		}
		70% {
			@include transform(perspective(400px) rotateY(10deg));
		}
		100% {
			@include transform(perspective(400px) rotateY(0deg));
			opacity: 1;
		}
	}
}

@if $use-flipOutX == true {
    @keyframes flipOutX {
        0% {
			@include transform(perspective(400px) rotateX(0deg));
            opacity: 1;
        }
    	100% {
			@include transform(perspective(400px) rotateX(90deg));
            opacity: 0;
        }
    }
}

@if $use-flipOutY == true {
	@keyframes flipOutY {
		0% {
			@include transform(perspective(400px) rotateY(0deg));
			opacity: 1;
		}
		100% {
			@include transform(perspective(400px) rotateY(90deg));
			opacity: 0;
		}
	}
}



// Animation  Lightspeed
@if $use-lightSpeedIn == true {
	@keyframes lightSpeedIn {
		0% { 
			@include transform(translateX(100%) skewX(-30deg));
			opacity: 0;
		}
		60% { 
			@include transform(translateX(-20%) skewX(30deg));
			opacity: 1;
		}
		80% { 
			@include transform(translateX(0%) skewX(-30deg / 2));
			opacity: 1;
		}
		100% { 
			@include transform(translateX(0%) skewX(0deg));
			opacity: 1;
		}
	}
}

@if $use-lightSpeedOut == true {
	@keyframes lightSpeedOut {
		0% { 
			@include transform(translateX(0%) skewX(0deg));
			opacity: 1;
		}
		100% { 
			@include transform(translateX(100%) skewX(-30deg));
			opacity: 0; 
		}
	}
}



// Animation Rotating Entrances
@if $use-rotateIn == true {
  @include keyframes (rotateIn) {
    0% {
      @include transform-origin(center center);
      @include transform(rotate(-200deg));
      opacity: 0;
    }
    100% {
      @include transform-origin(center center);
      @include transform(rotate(0));
      opacity: 1;
    }
  }
}

@if $use-rotateInDownLeft == true {
  @include keyframes (rotateInDownLeft) {
    0% {
      @include transform-origin(left bottom);
      @include transform(rotate(-90deg));
      opacity: 0;
    }
    100% {
      @include transform-origin(left bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
  }
}

@if $use-rotateInDownRight == true {
  @include keyframes (rotateInDownRight) {
    0% {
      @include transform-origin(right bottom);
      @include transform(rotate(90deg));
      opacity: 0;
    }
    100% {
      @include transform-origin(right bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
  }
}

@if $use-rotateInUpLeft == true {
  @include keyframes (rotateInUpLeft) {
    0% {
      @include transform-origin(left bottom);
      @include transform(rotate(90deg));
      opacity: 0;
    }
    100% {
      @include transform-origin(left bottom); 
      @include transform(rotate(0));
      opacity: 1;
    }
  }
}

@if $use-rotateInUpRight == true {
  @include keyframes (rotateInUpRight) {
    0% {
      @include transform-origin(right bottom);
      @include transform(rotate(-90deg));
      opacity: 0;
    }
    100% {
      @include transform-origin(right bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
  }
}



// Animation Rotating Exits
@if $use-rotateOut == true {
  @include keyframes (rotateOut) {
    0% {
      @include transform-origin(center center);
      @include transform(rotate(0));
      opacity: 1;
    }
    100% {
      @include transform-origin(center center);
      @include transform(rotate(200deg));
      opacity: 0;
    }
  }
}

@if $use-rotateOutDownLeft == true {
  @include keyframes (rotateOutDownLeft) {
    0% {
      @include transform-origin(left bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
    100% {
      @include transform-origin(left bottom);
      @include transform(rotate(90deg));
      opacity: 0;
    }
  }
}

@if $use-rotateOutDownRight == true {
  @include keyframes (rotateOutDownRight) {
    0% {
      @include transform-origin(right bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
    100% {
      @include transform-origin(right bottom);
      @include transform(rotate(-90deg));
      opacity: 0;
    }
  }
}

@if $use-rotateOutUpLeft == true {
  @include keyframes (rotateOutUpLeft) {
    0% {
      @include transform-origin(left bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
    100% {
      @include transform-origin(left bottom);
      @include transform(rotate(-90deg));
      opacity: 0;
    }
  }
}

@if $use-rotateOutUpRight == true {
  @include keyframes (rotateOutUpRight) {
    0% {
      @include transform-origin(right bottom);
      @include transform(rotate(0));
      opacity: 1;
    }
    100% {
      @include transform-origin(right bottom);
      @include transform(rotate(90deg));
      opacity: 0;
    }
  }
}



// Animation Sliding Entrances
@if $use-slideInUp == true {
	@include keyframes(slideInUp) {
		0% {
			@include transform(translate3d(0, 100%, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(0, 0, 0));
		}
	}
}

@if $use-slideInDown == true {
	@keyframes slideInDown {
		0% {
			@include transform(translate3d(0, -100%, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(0, 0, 0));
		}
	}
}

@if $use-slideInLeft == true {
	@include keyframes (slideInLeft) {
		0% {
			@include transform(translate3d(-100%, 0, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(0, 0, 0));
		}
	}
}

@if $use-slideInRight == true {
	@keyframes slideInRight {
		0% {
			@include transform(translate3d(100%, 0, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(0, 0, 0));
		}
	}
}



// Animation Sliding Exits
@if $use-slideOutUp == true {
	@keyframes slideOutUp {
		0% {
			@include transform(translate3d(0, 0, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(0, -100%, 0));
		}
	}
}

@if $use-slideOutDown == true {
	@keyframes slideOutDown {
		0% {
			@include transform(translate3d(0, 0, 0));
			visibility: visible;
		}

		100% {
			@include transform(translate3d(0, 100%, 0));
		}
	}
}

@if $use-slideOutLeft == true {
	@keyframes slideOutLeft {
		0% {
			@include transform(translate3d(0, 0, 0));
			visibility: visible;
		}
		100% {
			@include transform(translate3d(-100%, 0, 0));
		}
	}
}

@if $use-slideOutRight == true {
	@keyframes slideOutRight {
		0% {
			@include transform(translate3d(0, 0, 0));
			visibility: visible;
		}

		100% {
			@include transform(translate3d(100%, 0, 0));
		}
	}
}



// Animation Zoom Entrances
@if $use-zoomIn == true {
	@include keyframes (zoomIn) {
	  0% {
	    opacity: 0;
	    @include transform(scale3d(.3, .3, .3));
	  }
	  50% {
	    opacity: 1;
	  }
	}
}

@if $use-zoomInDown == true {
	@include keyframes (zoomInDown) {
		0% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(0, -1000px, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		60% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(0, 60px, 0));
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}

@if $use-zoomInLeft == true {
	@include keyframes (zoomInLeft) {
		0% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(-1000px, 0, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		60% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(10px, 0, 0));
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}

@if $use-zoomInRight == true {
	@include keyframes (zoomInRight) {
		0% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(1000px, 0, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		60% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(-10px, 0, 0));
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}

@if $use-zoomInUp == true {
	@include keyframes (zoomInUp) {
		0% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(0, 1000px, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		60% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(0, -60px, 0));
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}



// Animation Zoom Exits
@if $use-zoomOut == true {
	@include keyframes (zoomOut) {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
			@include transform(scale3d(.3, .3, .3))
		}
		100% {
			opacity: 0;
		}
	}
}

@if $use-zoomOutDown == true {
	@include keyframes (zoomOutDown) {
		40% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(0, -60px, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		100% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(0, 2000px, 0));
			@include transform-origin(center bottom);
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}

@if $use-zoomOutLeft == true {
	@include keyframes (zoomOutLeft) {
		40% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(42px, 0, 0));
		}
		100% {
			opacity: 0;
			@include transform(scale(.1) translate3d(-2000px, 0, 0));
			@include transform-origin(left center);
		}
	}
}

@if $use-zoomOutRight == true {
	@include keyframes (zoomOutRight) {
		40% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(-42px, 0, 0));
		}
		100% {
			opacity: 0;
			@include transform(scale(.1) translate3d(2000px, 0, 0));
			@include transform-origin(right center);
		}
	}
}

@if $use-zoomOutUp == true{
	@include keyframes (zoomOutUp) {
		40% {
			opacity: 1;
			@include transform(scale3d(.475, .475, .475) translate3d(0, 60px, 0));
			@include animation-timing-function(cubic-bezier(0.550, 0.055, 0.675, 0.190));
		}
		100% {
			opacity: 0;
			@include transform(scale3d(.1, .1, .1) translate3d(0, -2000px, 0));
			@include transform-origin(center bottom);
			@include animation-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1));
		}
	}
}



// Animation Specials
@if $use-hinge == true {
	@keyframes hinge {
		0% { 
			@include transform(rotate(0));
			@include transform-origin(top left);
			@include animation-timing-function(ease-in-out);  
		}
		20%, 60% { 
			@include transform(rotate(80deg));
			@include transform-origin(top left);
			@include animation-timing-function(ease-in-out);  
		}
		40% { 
			@include transform(rotate(30deg * 2));
			@include transform-origin(top left);
			@include animation-timing-function(ease-in-out);  
		}
		80% { 
			@include transform(rotate(30deg * 2) translateY(0) opacity(1));
			@include transform-origin(top left);
			@include animation-timing-function(ease-in-out); 
		}
		100% { 
			@include transform(translateY(700px));
			opacity: 0;
		}
	}
}

@if $use-rollIn == true {
	@keyframes rollIn {
		0% { 
			opacity: 0;
			@include transform(translateX(-100%) rotate(-30deg * 4));
		}
		100% { 
			opacity: 1;
			@include transform(translateX(0px) rotate(0deg));
		}
	}
}

@if $use-rollOut == true {
	@keyframes rollOut {
		0% {
			opacity: 1;
			@include transform(translateX(0px) rotate(0deg));
		}
		100% {
			opacity: 0;
			@include transform(translateX(100%) rotate(30deg * 4));
		}
	}
}