$font-list: 14px 16px 24px;
$base-font-size: nth($font-list, 1);
$base-line-height: 10px;
$rhythm-unit: 'px';

$mainWidth:1000px;
$primaryColor: #1e6674;
$textColor:#a07729;
$darkColor:#000;
$lightColor:#FFF;
$darkBlue:#1cbbc5;
$LightBlue:#cf33b4;
$gray66:#666;
$yellow:#ff9d24;
$btnYellow: #eddc1e;
$textPurple: #27a038;
$titlePurple: #512eab;
$textBlue:#0a4b1b;
$titleLine: #fdef0b;
$darkGreen: #28a038; 
$hover: #9e7830;


// $susy: ( columns:24, math:fluid, gutters:1/3, gutter-position:split);
// $gutter: 10px;
$susy: ( columns:24, math:fluid, gutters:1, gutter-position:split);
$gutter:20px;

// @font-face {
//     font-family: "ABEAKRG";
//     src: url(../font/ABEAKRG.ttf);
// }
// @font-face {
//     font-family: "abeatbyKaiRegular";
//     src: url(../font/abeatbyKaiRegular.otf);
// }
@include keyframes (bg) {
    0% {
      opacity: 0;
    //   @include transform(translateY(100vh));
    }
    100% {
      opacity: 1;
    //   @include transform(translateY(0));
    }
  }
@include keyframes (scale) {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@include keyframes(train){
    0%{
        margin-left:100%;
    }
    100%{
        margin-left:-466px;
    }
}
@include keyframes(car-left){
    0%{
        margin-left:-5%;
    } 
    100%{
        margin-left:100%;
    }
}
@include keyframes(car-right){
    0%{
        margin-left:100%;
    } 
    100%{
        margin-left:-5%;
    }
}
@include keyframes(airplane){
    0%{
        margin-left: 0%;
        margin-top: 40%;
    } 
    100%{
        margin-left: 100%;
        margin-top: 0%;
    }
}
@include keyframes(camera){
    0%{
        margin-left: 100%;
        margin-top: 0%;
    } 
    8%{
        margin-left: 80%;
        margin-top: 5%;
    }
    16%{
        margin-left: 65%;
        margin-top: 3%;
    }
    24%{
        margin-left: 50%;
        margin-top: 7%;
    }
    36%{
        margin-left: 38%;
        margin-top: 5%;
    }
    42%{
        margin-left: 23%;
        margin-top: 2%;
    }
    46%{
        margin-left: 13%;
        margin-top: 5%;
    }
    50%{
        margin-left: 0%;
        margin-top: 8%;
    }
    58%{
        margin-left: 18%;
        margin-top: 7%;
    }
    62%{
        margin-left: 35%;
        margin-top: 4%;
    }
    72%{
        margin-left: 50%;
        margin-top: 2%;
    }
    80%{
        margin-left: 62%; 
        margin-top: 5%;
    }
    88%{
        margin-left: 75%;
        margin-top: 2%;
    }
    94%{
        margin-left: 88%;
        margin-top: 4%;
    }
    100%{
        margin-left: 100%;
        margin-top: 0%;
    }
}
@include keyframes(cloud){
    0%{
        left: 1%;
    } 
    50%{
        left: 2%;
    }
    100%{
        left: 1%;
    }
}
@include keyframes(car){

    0%{
        margin-left:-443px;
    }
    100%{
        margin-left:100%;
    }
}

@include keyframes(earth){
    0%{
            @include transform(rotate(0deg));
    }
    100%{
            @include transform(rotate(360deg));
    }
}

@include keyframes(goon){
    0%{
            opacity: 0;
    }
    100%{
            opacity: 1;
    }
}

@include keyframes (fadeInUp) {
    0% {
      @include transform(translateY(20px));
    }
    100% {
      @include transform(translateY(0));
    }
}

@include keyframes(jump){
    0% {
        @include transform(translateY(-12px));
    }
    // 10% { top:40%;}
    // 20% { top:25%;}
    // 30% { top:40%;}
    // 40% { top:22%;}
    // 50%{
    //     top:0%;
    // }
    50%{
        @include transform(translateY(-2px));
    }
    100%{
        @include transform(translateY(-12px));
    }

}
@include keyframes(click01){
    0% {
        opacity: 0;
        @include transform(translateY(50px));
    }
    20%{
        opacity: 1;
    }
    30%{
        @include transform(translateY(0px));      
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
@include keyframes(click02){
    0% {
        opacity: 0;
        
    }
    20%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
@include keyframes(click03){
    0% {
        opacity: 0;
        @include transform(scale(0%));      
    }
    10%{
        opacity: 1;
    }
    80%{
        @include transform(scale(1));      
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

.anisec{
    .animate{
        @include transition(all 0.8s);
        opacity: 0;
        &.show{
            opacity: 1;
            &.inifite{
                @include transition(all 1s);
                @include animation(goon 1.5s infinite);
            }
        }
    }

    .animate.fadeInUp.show{
        @include animation(fadeInUp 0.5s);
    }
}

