@charset "utf-8";

@import "compass";  
@import "breakpoint";
@import "susy";

@import "variable"; 
@import "extend";
@import "mixin";
@import "animate";

//===== PC版 =====
 
.train{
  opacity: 0; 
  overflow: hidden;
  width: 100%;
  // background:url(../images/road.jpg) left bottom repeat-x;
  height:65px;
  position: absolute;
  bottom:21px;
  @include breakpoint(max-width 1600px) {
    bottom:15px;
  }

  figure{
      display: block;
      width:466px;
      height:65px;
      background:url(../images/train.png) center center no-repeat;
  }
  &.show{
    opacity: 1;
    figure{
     @include animation(train 8s linear infinite);
      
    }
  }
}

#index{
  box-sizing: border-box;
  position: relative;
  padding-top: 0;
  // background:$darkBlue;
  // @include breakpoint(max-width 1600px) {
  //   padding-top:2%;
  // }
  @include breakpoint(max-width 1024px) {
    // padding-top: 40%;
    // padding-bottom: 50px;
    padding-top: 0;
    background-size: cover;
  }
  @include breakpoint(max-width 980px) {
    // padding-top: 120px;
    // min-height: auto !important;
    // padding-top: 0;
    // padding-bottom: 15vh;
  }
  
  // @include breakpoint(max-width 480px) {
  //   padding-bottom: 94%;
  //   padding-top: 50px;
  //   background: url(../images/bg-m.png) center bottom no-repeat;
  //   background-size: cover;
  // }
  // padding-bottom:480px;
  overflow: hidden;
  .bg{
    background:url(../images/index-bg-pc.png) center center no-repeat;
    // background-size: 100% 100%;
    background-size: auto calc(100% - 200px);
    background-color: #81cbd9;
    z-index: -1; 
    position: absolute;
    width:100%;
    height:100%;
    bottom:0;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:url(../images/index-bg-cloud-pc.png) top center no-repeat;
      background-size: 100% auto;
    }
    @include breakpoint(max-width 1024px) {
      background:url(../images/index-bg-m.png) top center no-repeat;
      background-color: #81cbd9;
      background-size: auto calc(100% - 100px);
      &::before{
        background:url(../images/index-bg-cloud.png) top center no-repeat;
        background-size: 100% auto;
      }
    }
    // @include breakpoint(max-width 480px) {
    //   background:none center center no-repeat; 
    //   display:none;
    // }
    // &-mask{
    //   width: 100%;
    //   height: 100%;
    //   background-color:rgba(255, 255, 255, 1);
    //   position: absolute;
    //   bottom:0;
    //   @include breakpoint(max-width 480px) {
    //    display: none; 
    //   }
    //   &.show{
    //     background-color:rgba(255, 255, 255, 0);
    //   }
    // }
    // &.show{
    //   @include animation(bg 1s ease-in); 
    // }
  } 
  .streetlamp{
    background: url(../images/rail.png) center bottom no-repeat;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-size: 100% 100%;
    @include breakpoint(max-width 1024px) {
      background-size: auto 100%;
    }
    @include breakpoint(max-width 480px) {
      display: none;
    }
    &.animate{
      opacity: 0;
      &.show{
        opacity: 1;
        @include animation(bg 1s ease-in); 
      }
    }
  }
  .building{
    // background:url(../images/building.png) center center no-repeat;
    // background-size: 100% 100%;
    z-index: 2;
    position: absolute;
    opacity:0;
    bottom: 10%;
    right: 10%;
    width: 47%;
    @include breakpoint(max-height 1280px) {
      max-width: 40%;
      bottom: 12%;
    }
    @include breakpoint(max-width 1024px) {
      // background-size: auto 100%;
      max-width: 65%;
      bottom: 13%;
      right: 6%;
    }
    @include breakpoint(max-width 480px) {
      display: none;
    }
    &.animate{
      // opacity: 0;
      &.show{
        opacity: 1;
        @include animation(scale 0.5s ease-in); 
      }
    }
  }
  .light{
    background:url(../images/light.png) center center no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
    // height: 20.5%;
    // left: 7.5%;
    // bottom: 20%;
    // max-width: 90%;
    width:100%;
    height:100%;
    bottom:0;
    transition: 1s all;
    @include breakpoint(max-width 1024px) {
      background-size: auto 100%;
    }
    @include breakpoint(max-width 480px) {
      display: none;
    }
    &.animate{
      opacity: 0;
      &.show{
        opacity: 1;
        // @include animation(bg 3s ease-in); 
      }
    }
  }
  .thing{
    z-index: -1;
    position: absolute;
    bottom:0;
    width:100%;
    height:100%;
    @include breakpoint(max-width 980px) {
      display: none;
    }
    .house{
      position: absolute;
      bottom:95px;
      width:100%;
      height:388px;
      transition:2s all;
      opacity: 0;
      background:url(../images/house.png) center bottom no-repeat;
      &.show{
        opacity: 1;
        @include animation(bounceInDown 2s linear);
      }
    }

    .phone{
      bottom:36px;
      opacity: 0;
      position: absolute;
      z-index: -1;
      width:100%;
      height:165px;
      >div{
        @extend %block;
        height:100%;
        position: relative;
        img{
          position: absolute;
          right:0;
          bottom:0;
          @include breakpoint(max-width 1600px) {
            right:0;
            width:100%;
          }
        }
      }
      &.show{
        opacity: 1;
        @include animation(bounceInDown 2s linear);
      }
    }
  }
  .car-left{
    position: absolute;
    width: calc(100vw + 350px);
    height: 388px;
    bottom: 0;
    margin: 0 auto;
    left: -300px;
    overflow: hidden;
    z-index: 10;
    .animate{
      position: absolute;
      opacity: 0;
      bottom: 70px;
      &.show{
        opacity: 1;
        @include animation(car-left 10s linear infinite);
      }
      // @include breakpoint(max-width 1024px) {
      //   bottom: 9.05vh;
      // }
      // @include breakpoint(max-width 768px) {
      //   bottom: 25%;
      // }
    }
    @include breakpoint(max-width 480px) {
      display: none;
    }
  }
  .bubble{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &-1.animate{
      transition: 0.5s all 0.5s;
    }
    &-2.animate{
      transition: 0.5s all 0.8s;
    }
    &-3.animate{
      transition: 0.5s all 0.4s;
    }
    &-4.animate{
      transition: 0.5s all 0.8s;
    }
    &-5.animate{
      transition: 0.5s all 0.5s;
    }
    &-6.animate{
      transition: 0.5s all 0.8s;
    }
    &-5g{
      left: 0;
      bottom: 20%;
      &.animate{
        transition: 1s all;
      }
      @include breakpoint(max-width 1440px) {
        width: 90%;
        left: 4%;
        bottom: -8% !important;
      }
      @include breakpoint(max-width 1024px) {
        bottom: -15% !important;
      }
    }
    @include breakpoint(max-width 1024px) {
      width: 170%;
      position: absolute; 
      height: 100%;
      bottom: 10%;
      left: -26%;
      top: auto;
    }
    @include breakpoint(max-width 480px) {
      display: none;
    }
    .animate{
      position: absolute;
      // transition: 2s all;
      opacity: 0;
      bottom: 5%;
      &.show{
        opacity: 1;
      } 
    }
  }
  .tree{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &-1.animate{
      // transition: 2s all 0.5s;
      // transition-delay: 0.5s;
      transform-origin: 50% 100%;
      left: -119px;
      @include breakpoint(max-width 1024px) {
        display: none;
      }
    }
    &-2.animate{
      // transition: 2s all 0.8s;
      // transition-delay: 1.2s;
      transform-origin: 50% 100%;
      left: 10%;
      @include breakpoint(max-width 1024px) {
        display: none;
      }
    }
    &-3.animate{
      // transition: 2s all 0.4s;
      // transition-delay: 0.8s;
      transform-origin: 50% 100%;
      left: 30%;
      @include breakpoint(max-width 1024px) {
        left: 0;
      }
    }
    @include breakpoint(max-width 1024px) {
      position: absolute; 
      height: 100%;
      bottom: 0;
      // left: -26%;
      // top: auto;
    }
    .animate{
      position: absolute;
      opacity: 0;
      bottom: -15px;
      &.show{
        opacity: 1;
        @include animation(scale 1s ease-in); 
      } 
    }
  }
  .car-right{
    position: absolute;
    bottom: 100px;
    width: 845px;
    height: 388px;
    bottom: 0;
    margin: 0 auto;
    @include transform(translateX(-50%));
    left: 49.5%;
    overflow: hidden;
    .animate{
      position: absolute;
      opacity: 0;
      bottom: 100px;
      &.show{
        opacity: 1;
        @include animation(car-right 10s linear infinite);
      }
    }
    @include breakpoint(max-width 980px) {
      display: none;
    }
  }
  .airplane{
    position: absolute;
    width: 100vw;
    height: 388px;
    top: 0;
    margin: 0 auto;
    @include transform(translateX(-50%));
    left: 49.5%;
    overflow: hidden;
    z-index: -1;
    @include breakpoint(max-width 480x) {
      display: none;
    }
    .animate{
      position: absolute;
      opacity: 0;
      &.show{
        opacity: 1;
        @include animation(camera 15s linear infinite);
      }
    } 
  }
  .mtitle{
    opacity: 0;
    transition:1s all 0.5s;
    // margin: 0 auto;
    @include transform(translateY(100%));
    // @include breakpoint(max-width 480px) {
    //   max-width: 88%;
    //   font-size: 14px;
    //   transition: none;
    //   transform: translateX(0);
    // }
    &.show{
      opacity: 1;
      @include transform(translateY(0));
    }
  }
  .cloud{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 11%;
    .animate{
      position: absolute;
      // opacity: 0;
      &.show{
        // opacity: 1;
        // animation-delay: 1s;
        // @include animation(scale 1s ease-in, cloud 3s linear infinite);
        // @include animation(cloud 3s linear infinite);
      } 
    } 
    &-left{
      // margin-left: 3%;
      opacity: 0;
      &-b{
        margin-left: 5%;
        margin-top: 15%;
      }
      &.animate.show{
        opacity: 1;
        // transition-delay: 1.5s;
        @include animation(scale 1s ease-in, cloud 3s linear infinite);
      }
    }
    &-right{
      margin-left: 86%;
      opacity: 0;
      &-w{
        margin-left: 82%;
        margin-top: 15%;
      }
      &.animate.show{
        opacity: 1;
        // transition-delay: 1.2s;
        @include animation(scale 1s ease-in, cloud 3s linear infinite);
      }
    }
    // @include breakpoint(max-width 1200px){
    //   img{
    //     max-width: 70%;
    //   }
    // }
    @include breakpoint(max-width 980px){
      display: none;
    }
  }
  .type{
    .mt{
      text-align: center;
      height:112px;
      display: inline-block;
      // opacity: 0;
      &.left{
        margin-right:61px;
        li{
          @include transform(translateX(60px));
          &.show{
            @include transform(translateX(0px));
          }
        }
      }
      &.right{
        margin-left:61px;
        li{
          @include transform(translateX(-60px));
          &.show{
            @include transform(translateX(0px));
          }
        }
      }
      li{
        display: inline-block;
        // width:0px;
        // height:0px;
        width:124px;
        height:112px;
        transition:1s all;
        opacity: 0;
        &.show{
          opacity: 1;
        }
        &.h03{
          position: absolute;
          left:50%;
          margin-left:-63px;
        }
        &.h01{
          background: url(../images/h101.png) center center no-repeat;
        }
        &.h02{
          background: url(../images/h102.png) center center no-repeat;
        }
        &.h03{
          background: url(../images/h103.png) center center no-repeat;
        }
        &.h04{
          background: url(../images/h104.png) center center no-repeat;
        }
        &.h05{
          background: url(../images/h105.png) center center no-repeat;
        }
      }

    }
  }
  .mh1{
    display: none;
  }
  .title{
    // padding-top:55px;
    margin: 0 auto;
    position: relative;
    max-width: 65%; 
    padding-top: 130px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint(max-height 700px) {
      padding-top:0;
      // max-width: 60%;
    }
    // @include breakpoint(max-width 980px) {
    //   padding-top:0;
    // }
    // @include breakpoint(max-width 768px) {
    //   max-width: 90%;
    // }
    @include breakpoint(max-width 1024px) {
      max-width: 80%;
      padding-top: 0;
      
      display: none;
      // *{
      //   opacity: 1 !important;
      // }
    }
  }
  .subtitle{
    opacity: 0;
    transition:1s all 0.5s;
    @include transform(translateX(-50%));
    margin: 0.75rem 0;
    &.show{
      opacity: 1;
      @include transform(translateX(0));
    }
    @include breakpoint(max-width 1024px) {
      max-width: 80%;
      margin: 0.5rem 0;
      // @include transform(translateX(0));
    }
    // @include breakpoint(max-width 980px){
    //   @include transform(translateX(0));
    //   margin-top: 20px;
    // }
  }
  .content-title{
    opacity: 0;
    transition:1s all 1.5s;
    @include breakpoint(max-width 768px) {
      font-size: 14px;
      max-width: 85%;
    }
    &.show{
      opacity: 1;
    }
    @include breakpoint(max-width 480px) {
      transition:none;
    }
  }
  .info{
    opacity: 0;
    transition:1s all 1s;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    max-width: 65%; 
    margin: 0 auto;
    z-index: 5;
    &.show{
      opacity: 1;
    }
    @include breakpoint(max-width 480px) {
      opacity: 1 !important;
      display: none;
    }
  }
  p{
    text-align: center;
    position: relative;
    padding: 3px 0;
    font-size: 20px;
    text-align: left;
    span{
      display: inline-block;
      font-size:30px;
      color:$lightColor;
      border-bottom:1px solid $lightColor;
    }
  }
  ul.link{
    margin:10px auto;
    // text-align: center;
    li{
      display:inline-block;
      margin:0 10px;
      &:first-child{
        margin-left: -6px;
      }
      img{
        height:45px;
        @include breakpoint(max-width 480px) {
          height: 30px;
        }
      }
    }
  }
  .btns{
    display: table;
    margin:20px auto;
    a{
      background:$hover; 
      color:$darkColor;
      &:hover{
        background: $LightBlue;
        color:$lightColor;
      }
    }
  }
}
.iconshake{
	position: relative;
	display: block;
  margin: 300px auto 0;
  @include breakpoint(max-width 1600px) {
    margin: 220px auto 20px
  }
  @include breakpoint(max-width 980px) {
    margin: 86vh auto 40px;
  } 
  @include breakpoint(max-width 480px) {
    margin: 185% auto 20px;
  }
}
.iconshake img{
	margin:auto;
  width: 60px;
}
#forum{
  background: $primaryColor;
  padding-top:180px;
  padding-bottom:90px;
  box-sizing: border-box;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  @include breakpoint(max-width 980px){
    padding-top: 40px;
    padding-bottom: 0;
    min-height: auto !important;
  }
  >div{
      // left:0;
      // top:0;
      // right:0;
      // bottom:0;
      // display: inline-block;
      // vertical-align: middle;
      // width:95%;
      // &:before{
      //     content:"";
      //     display: inline-block;
      //     vertical-align: middle;
      //     width:0;
      //     height:100%;
      // }
  }
  p{
      color: #ffffff;
      font-size:20px;
      margin:60px auto 30px auto;
      text-align: center;
      max-width: 90%;
      span{
        color: #ffffff;
        font-size: 20px;
      }
      @include breakpoint(max-width 768px){
        max-width: 90%;
      }
      @include breakpoint(max-width 480px) {
        margin:30px auto;
        font-size: 18px;
        span{
          font-size: 18px;
          display: block;
        }
        br{
          display: none;
        }
      }
  }
  ul.info{
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 3%;
      .info-wrap{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @include breakpoint(max-width 768px){
        flex-direction: column;
        align-items: center;
      }
      li{
          display: inline-block;
          font-size:26px;
          margin:12px 5px;
          color: #ffffff;
          &:first-child{
            margin-right: 30px;
          }
          span{
            font-size:26px;
            color: #ffffff; 
            @include breakpoint(max-width 480px){
              display: block; 
              font-size: 20px;
              margin-left: 80px;          
            }
          }
          >img{
              display: inline-block;
              vertical-align: middle;
              margin-top:-3px;
              margin-right:3px;
              @include breakpoint(max-width 480px) {
                width: 40px;
              }
          }
          a.map{
              display: inline-block;
              vertical-align: middle;
              margin-top:-3px;
              position: relative;
              width:35px;
              height:35px;
              margin-left: 8px;
              img{
                  // @include animation(moveArrow .5s linear infinite); 
                  @include animation(jump .8s infinite);                   
              }
               
          }
      }
      @include breakpoint(max-width 480px){
        li{
          font-size: 20px;
        }
      }
  }
  .btns{
      margin-top:50px;
  }
  .forum-left, .forum-left-m{
    position: absolute;
    left: -100%;
    bottom: 0;
    z-index: -1;
    transition: 1s all;
  }  
  .forum-right, .forum-right-m{
    position: absolute;
    right: -50%;
    bottom: 0;
    z-index: -1;
    width: 28%;
    transition: 1s all;
  }  
  .forum-left,  .forum-right{
    height: 100%;
  }
  &.active{
    .forum-left{
      left: -50%;
      @include breakpoint(max-width 1900px){
        left: -55%;
      }
      @include breakpoint(max-width 1800px){
        left: -65%;
      }
      @include breakpoint(max-width 480px){
        display: none;
      }
    }
    .forum-left-m{
      left: 0;
    }
    .forum-left{
      @include breakpoint(max-width 980px){
        display: none;
      }
    }
    .forum-right{
      right: -6%;
      @include breakpoint(max-width 1700px){
        right: -12%;
      }
      @include breakpoint(max-width 980px){
        display: none;
      }
    }
    .forum-right-m{
      right: 0;
    }
  }
}
.bg-m{
  display: none;
  @include breakpoint(max-width 980px){
    display: block;
  }
}
.info-add-s{
  text-align: left;
  margin-left: 135px;
  color: #ffffff;
  @include breakpoint(max-width 480px){
    margin-left: 86px; 
  }
}
#speaker{
  padding-top: 100px;
  @include breakpoint(max-width 980px){
    padding-top: 40px;
    min-height: auto !important;
  }
  .title{
    color: $primaryColor;
    margin-bottom: 60px;
    span{
      color: $primaryColor;
    }
    &:after{
      background: $primaryColor;
    }
  }
  .people{
    padding-bottom:155px;
    // background:url(../images/speakerbg.jpg) center bottom no-repeat;
    margin-bottom:45px;
    @include breakpoint(max-width 980px){
      padding-bottom: 0;
    }
  }
  ul.speaker{
    display: table;
    width:100%;
    text-align: center;
    margin:auto;
    // max-width:600px;
    max-width:1000px;
    @include breakpoint(max-width 480px){
      display: flex;
      flex-wrap: wrap; 
    }
    li{
      margin-bottom:30px;
      // @include span(8);
      @include span(8);
      &:nth-child(4) {
        clear: both;
      }
    }
    figure{
      img{
        margin:auto; 
      }
    }
    figcaption{
      margin-top:10px;
      text-align: center;
      font-size:18px;
      font-weight: 800;
      color: #1e6674;
      b{
        display: block;
        font-size:18px;
        font-weight: 800;
        color: #1e6674;
      }
    } 
    span{
      font-size:28px;
      font-weight: 800;
      color: #1e6674;
    }
    &+ul{
      max-width:1000px;
      li{
        margin-bottom:10px;
        @include span(8);
      }
    }
  }
  .speaker-title{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 4px;
    padding: 4px;
    border: 1px solid #27a39c;
    color: #27a39c;
    width: 100px;
    margin: 0 auto 10px;
  }
  .speaker-left{
    position: absolute;
    left: -50%;
    bottom: -30%;
    z-index: -1;
    transition: 1s all;
    height: 130%;
    @include breakpoint(max-width 980px){
      display: none;
    }
  }  
  .speaker-right{
    position: absolute;
    right: -50%;
    bottom: -30%;
    z-index: -1;
    transition: 1s all;
    height: 130%;
    @include breakpoint(max-width 980px){
      display: none;
    }
  }  
  &.active{
    .speaker-left{
      left: 0;
      @include breakpoint(max-width 1700px){
        left: -10%;
      }
      @include breakpoint(max-width 1600px){
        left: -15%;
        height: 120%;
      }
    }
    .speaker-right{
      right: 0;
      @include breakpoint(max-width 1700px){
        right: -10%;
      }
      @include breakpoint(max-width 1600px){
        right: -15%;
        height: 120%;
      }
    }
  }
}
#agenda{
  background: #bba84e;
  padding-top: 100px;
  padding-bottom: 80px;
  .title{
    margin-bottom: 60px;
  }
  .agenda-list{
    li{
      display: flex;
      margin: 12px 0;
      @include breakpoint(max-width 480px){
        flex-direction: column;
        padding-left: 50px;
      }
      * {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
      }
      i{
        position: relative;
        width: 160px;
        flex: 0 0 auto;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 100%;
          background: #ffffff;
          right: -52.5px;
          top: 25px;
          @include breakpoint(max-width 480px){
            height: 1100%;
            left: -32px;
          }
        }
      }
      &:last-child i:before{
        display: none;
      }
    }
    .agenda-list-box{
      margin-left: 100px;
      position: relative;
      @include breakpoint(max-width 480px){
        margin-left: 0;
      }
      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border-radius: 50%;
        left: -60px;
        top: 7px;
        @include breakpoint(max-width 480px){
          left: -40px;
          top: -20px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #bba84e;
        border-radius: 50%;
        left: -55px;
        top: 12px;
        @include breakpoint(max-width 480px){
          left: -35px;
          top: -15px;
        }
      }
      b{
        font-size: 16px;
        padding: 4px 0;
        border: 1px solid;
        letter-spacing: 4px;
        text-align: center;
        display: inline-block;
        width: 80px;
        margin-right: 10px;
      }
      h4{
        margin: 8px 0 10px;
      }
      span {
        font-size: 14px;
      } 
      .without-title{
        padding-left: 92px;
      }
    }
  }
  .agenda-left {
    position: absolute;
    left: -50%;
    bottom: -10%;
    z-index: -1;
    transition: 1s all;
  }  
  .agenda-left-bottom-m{
    position: absolute;
    bottom: -50%;
    z-index: -1;
    transition: 1s all;
  }
  .agenda-left{
    height: 98%;
  }
  .agenda-right{
    position: absolute;
    right: -50%;
    top: -10%;
    z-index: -1;
    transition: 1s all;
  }  
  .agenda-left-top-m{
    position: absolute;
    left: -50%;
    top: 22px;
    z-index: -1;
    transition: 1s all;
    width: 31%;
  }
  .agenda-left-bottom-m {
    position: absolute;
    left: -100%;
    bottom: -10%;
    z-index: -1;
    transition: 1s all;
  }  
  .agenda-right-m{
    position: absolute;
    bottom: -17%;
    right: -100%;
    z-index: -1;
    transition: 1s all;
  }  
  @include breakpoint(max-width 980px) {
    .agenda-left, .agenda-right{
      display: none;
    }
  }
  &.active{
    .agenda-left{
      left: -4%;
      @include breakpoint(max-width 1700px){
        left: -18%;
      }
      @include breakpoint(max-width 1600px){
        left: -25%;
      }
    }
    .agenda-left-top-m{
      left: 4%;
      top: 22px;
      width: 25%;
    }
    .agenda-left-bottom-m{
      bottom: -27%;
      left: -51%;
      @include breakpoint(max-width 480px) {
        bottom: -17%;
        left: -70%;
      }
      @include breakpoint(max-width 1600px){
        left: -25%;
      }
      @include breakpoint(max-width 1024px){
        left: -25%;
        bottom: -37%;
        width: 69%;
      }
    }
    .agenda-right{
      right: 0;
      @include breakpoint(max-width 1700px){
        right: -10%;
      }
      @include breakpoint(max-width 1600px){
        right: -15%;
      }
    }
    .agenda-right-m{
      right: -48%;
      top: 2%;
      width: 65%;
    }
  }
}
#survey{
  background: url(../images/survey_bg.png) center center no-repeat;
  background-size: cover;
  // background-color: $btnYellow;
  padding-top:140px;
  padding-bottom:90px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  .title{
    span{
      color: $primaryColor;
    }
    b{
      color: $primaryColor;
    }
  }
  .btns{
      margin-top:70px;

      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(max-width 480px) {
        flex-direction: column;
      }
      li{
        display: block;
      }
      a{
        @include breakpoint(max-width 768px) {
          width: 190px;
        }
        @include breakpoint(max-width 480px) {
          width: 250px;
        }
        &:hover{
          background:$hover;
          color: $darkColor;
        }
      }
  }
  .btns a{
    background: $primaryColor;
    color: #fff;
    &:hover{
      background: $hover;
      color: #fff;
    }
  }
}
#vote{
  background-color: $primaryColor;
  position: relative;
  padding-top:120px;
  padding-bottom:90px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  .btns{
    margin-top:70px;
    margin-left: -10px;
  }
  &:before{
    display: block;
    width: 45%;
    height:100%;
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    transition: all 1s;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size:80% auto;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    @include breakpoint(min-width 480px) {
      br{
        display: none;
      }
    }
  }
}
#award{
  position: relative;
  background:url(../images/award_bg.png) center bottom no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  // padding-top:150px;
  // &:before{
  //   display: block;
  //   // max-width: 1180px;
  //   width:100%;
  //   height:100%;;
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top:0;
  //   transition: all 1s;
  //   background-repeat: no-repeat;
  //   background-position: center top;
  //   // background-size:100% auto;
  //   left:0;
  //   background-image: url(../images/awardbg.jpg);
  //   @include transform(translateY(-100%));
  // }
  &.active{
    &:before{
      @include transform(translateY(0%));
    }
  }
  .car{
    width: 100%;
    height: 58px;
    position: absolute;
    bottom: 7px;
    figure{
      display: block;
      width: 443px;
      height: 50px;
      background: url(../images/train.png) center center no-repeat;
      @include animation(car 12s linear infinite);
    }
  }
    // position: relative;
    // padding-top:150px;
    // padding-bottom:90px;
    // box-sizing: border-box;
    // overflow: hidden;
    // box-sizing: border-box;
  .btns{
    margin-top:70px;
    a{
      background:$hover;
      &:hover{
        background:$textPurple;
      }
    }
  }
  // b{
  //   font-weight: 500;
  // }
  // &:before, &:after{
  //   display: block;
  //   width:50%;
  //   height:100%;
  //   bottom:0;
  //   z-index: -1; 
  //   content: "";
  //   position: absolute;
  //   // z-index: -1;
  //   // top:0;
  //   // opacity: 0;
  //   transition: all 1s;  
  //   background-repeat: no-repeat;
  //   // background-size:100% auto;
  // }
  // &:before{
  //   left:0;
  //   background-image: url(../images/award_left.png);
  //   background-position: 0% 76%;
  //   background-size: 50%;
  //   @include transform(translateX(-100%));
  // }
  // &:after{
  //   right:0;
  //   background-image: url(../images/award_right.png);
  //   @include transform(translateX(150%));
  //   background-position: 100% 18%;
  //   background-size: 40%;
  // }
  &.active{
    &:before, &:after{
      @include transform(translateX(0%));

    }
  }
  @include breakpoint(max-width 1024px) {
    padding: 5% 0 16%;
    &:before{
      background-size: 46%;
      background-position: 0% 90%;
    }
    &:after{
      background-position: 100% 8%;
      background-size: 40%;
    }
  }
  @include breakpoint(max-width 768px) {
    &:before{
      background-size: 62%;
      background-position: -24% 95%;
    }
    &:after{
      background-position: 100% 8%;
      background-size: 50%;  
    }
  }
  @include breakpoint(max-width 768px) {
    &:after{
      background-position: 130% 6%;
      background-size: 50%;
    }
  }
}
#video{
  background: url(../images/video-bg.png) top;
  background-size: auto 100%;
  position: relative;
  padding-top:90px;
  padding-bottom:140px;
  position: relative;
  box-sizing: border-box;
  @include breakpoint(max-width 980px) {
    min-height: auto !important;
  }
  @include breakpoint(max-width 480px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .title{
    span{
      color: $primaryColor;
    }
    &:after {
      background: $primaryColor;
    }
  }
  .video-left{
    position: absolute;
    left: -50%;
    bottom: -2%;
    z-index: -1;
    transition: 1s all;
    @include breakpoint(max-width 980px) {
      left: 5%;
      top: -50%;
    }
  }  
  .video-film{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include breakpoint(max-width 980px) {
      margin-bottom: 40px;
    }
  }
  .video-bottom{
    position: absolute;
    bottom: -50%;
    z-index: -1;
    transition: 1s all;
    left: 50%;
    transform: translateX(-50%);
  }  
  &.active{
    .video-left{
      left: 0;
      width: 21%;
      @include breakpoint(max-width 1700px) {
        width: 17%;
      }
      @include breakpoint(max-width 980px) {
        left: 5%;
        top: 4%;
        width: 22%;
      }
      @include breakpoint(max-width 480px) {
        top: 9%;
      }
    }
    .video-bottom{
      bottom: -1px;
      @include breakpoint(max-width 1700px) {
        bottom: -47px;
      }
      @include breakpoint(max-width 480px) {
        bottom: -1%;
      }
    }
  }
  .list{
    display: inline-block;
    width:100%;
    text-align: center;
    margin-top:40px;
    li{
      margin-bottom:10px;
      display: inline-block;
      vertical-align: top;
      width:24%;
      padding:5px;
      box-sizing: border-box;
      figcaption{
        padding-top:10px;
        text-align: left;
        font-size:18px;
        b{
          display: block;
          font-size:20px;
          font-weight:bold;
          div{
            font-size:18px;
          }
        }
      }
    }
  }
  .btns{
    margin-top:20px;
    a{
      background: $hover;
      &:hover{
          background: $textPurple;
      }
    }
  }
}
#note{
  background-color: #4ea8b9;
  padding-top: 100px;
  padding-bottom: 80px;
  min-height: auto !important;
  @include breakpoint(max-width 480px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title{
    margin-bottom: 60px;
  }
  .list{
    li{
      display: flex;
      margin: 16px 0;
      i{
        width: 20px;
      }
    }
    *{
      color: #ffffff;
      font-size: 16px;
    }
  }
  .note-left{
    position: absolute;
    left: 18%;
    top: 130px;
    z-index: -1;
    @include breakpoint(max-width 980px) {
      left: 5%;
    }
    @include breakpoint(max-width 480px) {
      left: 3%;
      top: 72px;
      width: 21%;
    }
  }  
  .note-right{
    position: absolute;
    top: 130px;
    z-index: -1;
    right: 18%;
    @include breakpoint(max-width 980px) {
      right: 7%;
    }
    @include breakpoint(max-width 480px) {
      top: 72px;
      right: 2%;
      width: 23%;
    }
  }  
}
#unit{
  // background: $btnYellow;
  background: url(../images/unit-bg.png) center center no-repeat;
  background-size: cover;
  padding-top:80px;
  padding-bottom:150px;
  position: relative;
  // &:before{
  //   content:'';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   background: url(../images/unit-bg.png) -20% 130% no-repeat;
  //   background-size: 60%;
  //   width: 933px;
  //   height: 798px;
  //   z-index: -1;
  // }
  .title{
    margin: 0 auto 3rem;
    &::after{
      background: #27a038;
    }
  }
  ul{
      text-align: center;
      // display: inline-block;
      // width:100%;  
      width: auto;
      display: table;
      margin: auto;
      li{
          // display: inline-block;
          // vertical-align: middle;
          margin:10px;
          @include span(8);
          img{
              margin:auto;
              border:1px solid #ccc;
          }
      }
      &.one{
          li{
              width: 100%;    
              @include breakpoint(max-width 480px) {
                img{
                  width: 186px;
                }
              }     
          }
      }
      &.two{
          li{
              @include span(12);                
          }
      }
      &.four{
          li{
            width: 22.91666%;
          }
      }
      &.five{
        li{
          width: 17.91666%;
          @include breakpoint(max-width 768px) {
            width: 47.91667%;
          }
        }
    }
  }
  .airplane{
    position: absolute;
    right: 10%;
    top: 5%;
    @include breakpoint(max-width 768px){
      display: none;
    }
  }
}

  // #surveyi01,#surveyi02{
    ul.boxlist{
      >li{
        position: relative;
        font-size: 20px;
        line-height: 32px;
        padding-left: 30px;
        margin-top:10px;
        margin-bottom:10px;
        display: flex;
        &+li{
          margin-top:10px;
        }
        &:before{
          display: inline-block;
          vertical-align: top;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          left: 8px;
          top: 9px;
          background: #666666;
        }
        *{
          font-size:18px;
          line-height:1.6em;
          color: #666666;
        }
        b{
          font-weight: bold;
        }
        p{
          // margin-left:15px;
        }
        span {
          flex: 0 0 auto;
        }
      }
      table{
        width: 95%;
        margin: 10px 0;
        th, td{
            font-size: 18px;
            padding:3px 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
        caption{
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 5px;
        }
        thead{
          th{
            border: 1px solid #fff;
            background-color:#dfdfdf;
            &.th2{
              background:#fadaba;
            }
            &.th3{
              background:#b7e7df;
            }
          }
        }
        tbody{
          tr.point{
            td{
              background-color: $darkBlue;
              color:#fff;
            }
          }
        }
      }
      img{
        max-width: 100%;
        margin:auto;
      }
    
    }
  // }

  .icon-list{
    li{
      padding-left: 80px;
      position: relative;
      margin: 25px 60px;
      @include breakpoint(max-width 768px){
        margin: 25px auto;
      }
      @include breakpoint(max-width 480px) {
        padding-left: 52px;
      }
      *{
        font-size:18px;
        font-weight: bold;
        line-height: 1.6em;
        color: #666666;
      }
      span{
        color: $textColor;
      }
      &:before{
        display: inline-block;
        vertical-align: top;
        content: "";
        width: 52px;
        height: 48px;
        position: absolute;
        left: 8px;
        top: 0;
        background-image: url(../images/requestItem-icon.svg);
        background-size: cover;
        @include breakpoint(max-width 480px) {
          width: 40px;
          height: 35px;
        }
      }
      &:nth-child(1):before {
        background-position: 0 0;
      }
      &:nth-child(2):before {
        background-position: 0 -72px;
      }
      &:nth-child(3):before {
        background-position: 0px -148px;
      }
      &:nth-child(4):before {
        background-position: 0px -220px;
      }
      &:nth-child(5):before {
        background-position: 0px -284px;
      }
      @include breakpoint(max-width 480px) {
        &:nth-child(2):before {
          background-position: 0 -52px;
        }
        &:nth-child(3):before {
          background-position: 0px -114px;
        }
        &:nth-child(4):before {
          background-position: 0px -170px;
        }
        &:nth-child(5):before {
          background-position: 0px -219px;
        }
      }
    }
    &.flex li{
      display: flex;
      margin: 15px 60px;
      @include breakpoint(max-width 480px) {
        padding-left: 52px;
        flex-wrap: wrap;
        margin: 15px 0;
      }
      *{
        font-size:24px;
        line-height:48px;
        color: #666666;
        flex: 0 0 auto;
        @include breakpoint(max-width 480px) {
          line-height:35px;
          font-size: 18px;
        }
      }
    }
    .download{
      background: url(../images/download.svg) center center no-repeat;
      width: 32px;
      height: 48px;
      display: block;
      margin: 0 8px;
      @include breakpoint(max-width 480px) {
        width: 24px;
        background-size: contain;
        height: 35px;
        margin: 0 4px;
      }
    }
  }

 #surveyresult, #surveyyear{
  .tab_container{ 
    max-width: 830px;
    margin:auto;
  }
  h3{
    font-size:40px;
    font-weight:bold;
    padding:10px;
  }
  h5{
    font-size:18px;
    color:#fff;
    text-align: center;
    padding:10px;
    margin:20px 0;
    clear: both;
    &.green{
      background-color: #f6ab36
    }
    &.blue{
      background-color: #03c9a8;
    }
  }   
  .tab_content{
    &#leading, &#leading_lastyear{
      text-align: left;
      max-width:1000px;
      p{
        font-size:18px;
      }
      ul{
        li{
          margin:25px 0;
          b{
            font-size:22px;
            margin-bottom:5px;
            display: block;
            font-weight: bold;
            img{
              display: inline-block;
              vertical-align: middle;
              margin-right:5px;
            }
            
          }
        }
      }
    }
    &#government,&#government_lastyear,&#people,&#people_lastyear,&#people_2_lastyear{
      ul{
        display: inline-block;
        width: 100%;
        margin-top:30px;
        li{
          @include span(12);
          margin-bottom:20px;
          img{
            margin:auto;
          }
        }
        &.boxlist{
          margin-top:0;
          li{
            margin:0;
          }
        }
      } 
      p{
        font-size:13px;
        font-weight: bold;
        margin:10px auto;
        max-width: 356px;
        width: 100%;
        display: table;
      }            
    }
    &#people, &#people_lastyear, &#people_2_lastyear{
      ul{
        li{
          @include span(24);
          font-size: 20px;
        }
      }
    }
    table{
      max-width: 356px;
      width: 100%;
      border-collapse: inherit;
      border-spacing: 1px;
      margin:auto;
      th, td{
        padding:6px 15px;
        text-align: center;
        font-size:14px;
        font-weight: bold;
      }
      thead{
        th{
          background:#ffedde;
        }
      }
      tbody{
        th{
          background:#ffdfc3;
        }
        td{
          background:#eaeaea;
        }
      }
    }
   }
 } 
#surveyi03, .surveyi03{
  ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width:32%;
      display: inline-block;
      vertical-align: top;
      margin:10px 0;
    }
    &:after{
      content: "";
      flex: auto;
    }
  }
  figure{
    img{
      margin:auto;
    }
  }
  figcaption{
    b{
      font-size:22px;
      display: block;
    }
    span{
      display: inline-block;
    }
  }
}

#voteway{
  // max-width:800px;
  ul.way1{
    max-width: 580px;
    margin:auto;
    li{
      i{
        display: inline-block;
        vertical-align: middle;
        width:140px;
        height:140px;
        background: #f6ab36;
        text-align: center;
        box-sizing: border-box;
        font-size:30px;
        line-height: 33px;
        padding:35px;
        color:$lightColor;
        font-weight:bold;
        border-radius: 50%;
        &.big{
          padding: 35px 24px;
        }
      }
      p{
        display: inline-block;
        vertical-align: middle;
        width:calc( 100% - 160px);
        margin-left:10px;
        font-size:20px;
        span{
          display: block;
          font-size:20px;
        }
      }
      &+li{
        margin-top:20px;
        i{
          background: #03c9a8;
        }
      }
    }
  }
  ul.way2{
    margin:20px 0;
    text-align: center;
    li{
      position: relative;
      display:inline-block;
      vertical-align: middle;
      padding:10px 20px;
      >div{
        display:inline-block;
        vertical-align: middle;
        width:180px;
        height:180px;
        box-sizing: border-box;
        border:3px solid $darkBlue;
        text-align: center;
        border-radius: 50%;
        padding:20px;
        i{
          display: table;
          margin:0 auto 5px auto;
        }
        p{
          font-size:22px;
          span{
            font-size:22px;
            display: block;
          }
        }
      }
      &+li{
        &:before{
          content:"";
          position: absolute;
          width:22px;
          height:22px;
          left:-11px;
          top:50%;
          margin-top:-11px;
          background: url(../images/way2icon.png) center center no-repeat;
        }
      }
    }
  }
  .way3{
    margin:20px 0;
    text-align: center;
    .percent{
      display: inline-block;
      vertical-align: middle;
      li{
        width:100%;
        div, span{
          display: inline-block;
          vertical-align: middle;
          
        }
        >div.tt{
          font-size:22px;
          width:140px;
          min-width: 350px;
          background: #f6ab36;
          text-align: center;
          box-sizing: border-box;
          padding:35px;
          color:$lightColor;
          font-weight:bold;
          border-radius: 10px;
        }
        span{
          font-size:35px;
          margin:0 10px;
        }
        &+li{
          margin-top:15px;
          >div.tt{
            background: #03c9a8;
          }
        }
      }
    }
    .total{
      display: inline-block;
      vertical-align: middle;
      div{
        display: inline-block;
        vertical-align: middle;
        &.score{
          font-size:36px;
          width:120px;
          height:120px;
          color:$lightColor;
          background:#f54746;
          border-radius: 50%;
          text-align: center;
          box-sizing: border-box;
          padding:35px 0;
        }
      }
    }
  }
  ul.award{
    width:90%;
    margin:auto;
    max-width: 900px;
    li{
      background: #f0f0f0;
      padding:15px;
      position: relative;
      &+li{
        margin-top:15px;
      }
    }
    figure{
      display: inline-block;
      vertical-align: top;
      width:250px;
    }
    figcaption{
      padding-bottom:30px;
      display: inline-block;
      vertical-align: top;
      width:calc( 100% - 280px);
      margin-left:20px;
      b{
        font-size:26px;
        font-weight: bold;
        margin:15px 0;
        display: block;
      }
      p{
        font-size:18px;
      }
      span{
        color:#4c78be;
        position: absolute;
        left:290px;
        bottom:12px;
        b{
          display: inline;
          color:#4c78be;
          font-size:14px;
        }
      }

    }
  }
}
#report{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // padding-bottom:80px;
  // box-sizing: border-box;
  // background: url(../images/vote_bg.png) center bottom;
  // padding-top: 120px;
  // padding-bottom: 90px;
  background-color: #b18739;
  box-sizing: border-box;
  .con{
    flex: 1 0 auto;
    display: flex;
    @include breakpoint(max-width 980px) {
      margin: 100px 0 40px;
    }  
  }
  h4{
    margin-bottom:40px;
    // @include breakpoint(min-height 1000px){
    //   padding-top:80px;
    // }
  }
  ul.list{
    display: inline-block;
    width:100%;
    vertical-align: top;
    margin:15px 0;
    @include breakpoint(max-width 480px){
      display: flex;
      flex-wrap: wrap;
    }
    li{
      float: left;
      width:25%;
      margin-bottom:20px;
      box-sizing: border-box;
      padding:2px;
      a{
        display: block;
        text-align: center;
        figure{
          overflow: hidden;
          img{
            transition:.5s all;
            @include transform(scale(1));

          }
        }
        figcaption{
          margin:10px 0;
          font-size: 20px;

        }
        &:hover{
          figure{
            img{
              @include transform(scale(1.2));

            }
          }
          figcaption{
            color:$darkBlue;
  
          }
        }
      }
    }
  }
}
#awardway{
  max-width: 1000px;
}
#awardname{
  ul.list{
    max-width: 1000px;
    text-align: center;
    li{
      display: inline-block;
      vertical-align: top;
      width:30%;
      padding:10px;
      box-sizing: border-box;
      margin-bottom:20px;
      figcaption{
        text-align: left;
        i{
          margin:5px 0;
          display: block;
          font-size:22px;
          img{
            display: inline-block;
            vertical-align: middle;
            margin-top:-3px;
            margin-right:5px;
          }
        }
        b{
          display: block;
          font-size:26px;
          font-weight:bold;
          margin:10px 0;
          min-height:85px;
          span{
            display: block;
            font-size:18px;
            font-weight: normal;
          }
        }
        p{
          font-size:16px;
        }
      }
      &.a1 i{ color:#e65b5d;}
      &.a2 i{ color:#5f6fb2;}
      &.a3 i{ color:#125caa;}
      &.a4 i{ color:#e45a7f;}
      &.a5 i{ color:#62b54d;}
      &.a6 i{ color:#f29d0b;} 
      &.a7 i{ color:#ec8622;}
      &.a8 i{ color:#388d38;}
      &.a9 i{ color:#2bb6fb;}
    }
  }
}
@include breakpoint(max-width 980px) {
  #index{
    // background: url(../images/bg-m.png) center bottom no-repeat $darkBlue;
    // background-size:100% auto;
    // padding-bottom:53%;
    // *{
    //   opacity: 1!important;
    // }
    .thing{
      display: none;
    }
    .mtitle{
    //   padding:0 15px 0 15px;
    //   box-sizing: border-box;
      // @include transform(translateX(0));
    //   transition: none;
    //   span{
    //     // opacity: 1;
    //     transition:.5s all;
    //     width:95%;
    //   }
    }
  
    .h1{
      display: none;
    }
    .mh1{
      display: table;
      margin:10px auto;
    }
    .info{
      // padding:0 15px;
      box-sizing: border-box;
      position: relative;
    }
    p{
      span{
        font-size:24px;
        border-bottom:none;
      }
    }
  }
  // #vote{
  //   padding-top:60px;
  //   padding-bottom: 50%;
  //   .btns{ 
  //     margin-top:40px;
  //   }
  //   &:before{
  //     display: block;
  //     width:100%;
  //     height: 50%;
  //     content: "";
  //     position: absolute;
  //     z-index: -1;
  //     top:auto;
  //     bottom: -8%;
  //     @include transform(translateY(30%));
  //     background-size:contain;
  //     background-position: center bottom;
  //   }
  //   &:before{
  //     left: -10%;
  //     background-image: url(../images/vote_hand.png);
  //   }
  //   &:after{
  //     right:0;
  //     background-image: url(../images/goodm.png);
  //   }
  //   &.active{
  //     &:before, &:after{
  //       @include transform(translateY(0%));
  //     }
  //     &:before{
  //       // @include transform(translateX(0%));
  
  //     }
  //     &:after{
  //       // @include transform(translateX(0%));
  //     }
  //   }
  // }
  // #voteway{
  //   ul.way2{
  //     max-width:500px;
  //     margin:auto;
  //     li{
  //       max-width:240px;
  //         &+li{
  //         &:nth-child(3){
  //           &:before{
  //             display: none;
  //           }
  //         }
  //       }
  //     }
  //   }  
  // }
  #video{
    &:before,&:after{
      background-size: 120% auto;
    }
    ul.list{
      li{
        width:48%;
      }
    }
  }
  
  #report{
    // padding-top:120px;
    ul.list{
      li{
        width:50%;
      }
    }
  }
  #awardname{
    ul.list{
      li{ 
        width:47%;
      }
    }
  }
   
}
@media (max-width: 560px){
  #vote {
      padding-bottom: 120px;
      &:before{
        left: -20%;
      }
  }
}

@include breakpoint(max-width 880px) {
  #voteway{
    .way3{
      .percent{
        li{
          >div.tt{
            min-width: 250px;
          }
          &+li{
            &:before{
              content:"+";
              font-size:50px;
              display: table;
              margin:auto;
            }
          }
        }
      }
      .total{
        display: block;
        div{
          display: table;
          margin:auto;
          img{
            @include transform(rotate(90deg));
          }
        }
      }
    }
      
  }
  #surveyresult, #surveyyear{
  
    .tab_content{
      &#government,&#people{

        ul{
          li{
            @include span(24);
          }
        }
      }
    }
  }
  
}

#survey{
  h2.title{
    &::after{
      background: $primaryColor;
    }
  }
  h3{
    font-size: 30px;
    font-weight: bold;
    color: $primaryColor;
    text-align: center;
    margin-top: 20px;
    @include breakpoint(min-width 480px) {
      br{
        display: none;
      }
    }
  }
}

@include breakpoint(max-width 700px) {

  #forum{
    // padding-top:70px;
    // padding-bottom:90px;
  }  
  #speaker{

    .people{
      padding-bottom:85px;
    }
    ul.speaker{
      li{
        @include span(12);
      }
      figcaption{
        margin-top:10px;
        text-align: center;
        font-size:16px;
        b{
        }
      }
      &+ul{
        li{
          @include span(12);
        }
      }
    }
  
    .schedule{
      p{
        padding-left:0px;
      }
    }
    ul.timer{
      padding-top:20px;
    li{
        span{
            width:50px;
            padding-right:0;
            text-align: center;
            i{
              display: block;
              text-align: center;
              font-size: 20px;
              line-height: 20px;
              transform: rotate(90deg);
            }
        }

        div{
          width:calc( 100% - 60px);
          min-height:78px;
          b{
            font-size:22px;
          }
          &:before, &:after{
            content:"";
            display: block;
            position:absolute;
          }
          &:before{
            width:2px;
            height:100%;
            background: #999;
            left:5px;
            top:21px;
          }      
          &:after{
            width:12px;
            height:12px;
            background:$LightBlue;
            left:0px;
            top:15px;
            border-radius: 50%;
          }
  
        }
        &:last-child{
          div{
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
  #survey{
    // background: url("../images/survey_bg0.png") left bottom no-repeat $LightBlue;    
    padding-top: 40%;
    padding-bottom: 40%;
    .btns{
      margin-top:40px;
    }
    &.active{
      .survey-left{
        left: -12%;
        top: 12px;
        width: 46%;
      }
      .survey-right{
        right: 0;
        bottom: 0;
        width: 47%;
      }
    }
  }
  #surveyi03, .surveyi03{ 
    ul{
      li{
        width:48%;
      }
    }
  }
  
  #voteway{
    ul.award{
      figure{
        width:100%;
        img{
          margin:auto;
        }

      }
      figcaption{
        width:100%;
        margin-left:0px; 
        span{
          left: 12px;
        } 
      }
    }
  }
  
  @include breakpoint(max-width 550px) {

    #voteway{
      ul.way2{
        max-width:500px;
        margin:auto;
        li{
            max-width:240px;
            margin-bottom:10px;
            &+li{
              &:before{
                @include transform(rotate(90deg));
                top:-4px;
                left:50%;
                margin-left:-11px;
              }
              &:nth-child(3){
                &:before{
                  display: block;
                }
              }
          }
        }
      }  
      .way3{
        .percent{
          li{
            >div.tt{
              min-width: 100%;
              padding:10px;
              margin-bottom:5px;
            }
          }
        }
        .total{
          display: block;
          div{
            display: table;
            margin:auto;
            img{
              @include transform(rotate(90deg));
            }
          }
        }
      }
        
    }
    ul.boxlist{
      >li{
        padding-left: 20px;
        &:before{
          left: 0px;
        }
        *{
          font-size:18px;
          line-height:1.6em;
          color: #666666;
        }
        b{
          padding-left:15px;
        }
      }
      table{
        width: 100%;
        th, td{
            padding:3px;
            word-break: break-all;
        }
      }

    
    }

  }
  
  @include breakpoint(max-width 400px) {
    #voteway{
      ul.way1{
        li{
          i{
            display: table;
            margin:auto;
          }
          p{
            display: table;
            margin:auto;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}