@charset "utf-8";

@import "reset";

@import "compass";
@import "breakpoint";
@import "susy";

@import "variable";  
@import "extend";
@import "mixin";  
@import "animate"; 

html{
    // 專門處理IOS旋轉問題
    -webkit-text-size-adjust: 100%;
    *, *:before, *:after {
        //@include user-select(none);
        @include adjust-font-size-to($base-font-size); 
        // line-height: 1.2em;
        color: $darkColor;
        font-family: "Century Gothic", "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif";
        //verdana
        line-height: 1.4em; 
    }
}

html, body {
    width: 100%;
    height: 100%;
    min-width: $mainWidth;
}

a{
    text-decoration: none;
    @include transition(0.5s);
}

img{
    max-width: 100%;
}

#wrap{
    // left:0;
    position: relative;
    @include transition(0.5s);
    overflow: hidden;
}

#gotop{
    position: fixed; 
    bottom:40px;
    right:40px;
    z-index: 1;
    display: none;
    width: 60px;
    height: 60px;
    &:hover{
        opacity: 0.8;
    }
}
#signup{
    position: fixed; 
    bottom: 120px;
    right: 20px;
    z-index: 1;
    display: none;
    width: 120px;
    height: 131px;
    &:hover{
        opacity: 0.8;
    }
    @include breakpoint(max-width 1024px) {
        bottom: 100px;
        right: 0px;
    }
    @include breakpoint(max-width 480px) {
        display: none !important;
    }
}
#signup_m{
    display: none;
    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    color: #00a4cd;
    background-color: #ffe465;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 800;
    @include breakpoint(max-width 480px) {
        display: block;
    }
}

iframe[name="google_conversion_frame"]{
    display: none;
} 

//===== PC版 =====
#smenu{
    display: none;
    position: fixed;
    z-index: 1000;
    right: 25px;
    top: 5px;
    right: 10px;
    // padding: 12px 10px;
    // @include user-select(none);
    background: url(../images/menu.png) center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 48px;
    @include transform(rotate(0deg));
    @include transition(0.5s);
    // figure {
    //     background-color:#b18739;
    //     width: 30px;
    //     height: 4px;
    //     margin: 6px 0;
    //     @extend %indent;
    //     // box-shadow: 1px 1px 3px #ccc;
    // }
    // &:before,&:after {
    //     background-color: #b18739;
    //     content: '';
    //     display: block;
    //     width: 30px;
    //     height:4px;
    //   @include transition(transform 0.5s); 
    // //   box-shadow: 1px 1px 3px #ccc;
    // }
    .active & {
        background: url(../images/menu-close.png) center no-repeat;
        background-size: 100%;
        // @include transform(rotate(180deg));
        // figure {
        //     background-color: transparent;
        //     box-shadow: none;
        // }
        // &:before {
        //     background-color:$lightColor;
        //     box-shadow: none;
        //     @include transform(translateY(10px) rotate(45deg));
        // }
        // &:after { 
        //     background-color:$lightColor; 
        //     box-shadow: none;
        //     @include transform(translateY(-10px) rotate(135deg));
        // }
    }
}
@include breakpoint(max-width 1024px) {
    #smenu{
        display: block;
        margin: 40px 0 0 0; 
    }
}
@include breakpoint(max-width 768px) {
    #smenu{
        margin: 28px 20px 0 0;
    }
}
@include breakpoint(max-width 480px) {
    #smenu{
        margin: 0;
    }
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-right-wrap{
    display: flex;
    align-items: center;
}

.menu-wrap, .social{
    display: flex;
    align-items: center;
    
    @include breakpoint(min-width 769px) {
        li{
            margin: 0 5px;
        }
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}

nav #mainmenu{
    @extend %block;
}

@include breakpoint(min-width 769px) {
    .header_content, nav, #mainmenu{
        display: flex;
        align-items: center;
    }
    .header_content{
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 99;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1028px;
        // &:after {
        //     content: '';
        //     background: #632f17;
        //     width: 80vw;
        //     position: absolute;
        //     bottom: 0;
        //     left: 50%;
        //     display: block;
        //     height: 2px;
        //     transform: translateX(-50%);
        // }
    }
    .menu{
        font-size: 20px;
        font-weight: bold;
        margin: 0 10px;
        height: 80px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .down{
        .menu{
            height: 60px;
            position: relative;
            &:after{
                display: block;
                content: "";
                position: absolute;
                width:100%;
                height:4px;
                bottom:0px;
                left:0; 
                background:transparent;
            }
            &:hover:after{
                background:#632f17;
            }
            // &:hover{
            //     border-bottom: 4px solid #b49258;
            // }
        }
        .social a img{
            width: 32px;
            height: 32px;
            @include transition(0.3s);
        }
    }
}

.logo-pc-sticky{
    width: 90px;
    margin-bottom: -18px;
}

@include breakpoint(max-width 1024px) {
    .logo-pc a {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        position: fixed;
        z-index: 999;
        // background:rgba(0,0,0,0.7);
        background:#358c94;
        top:0;
        @include transition(0.5s);
        top:-100%;
        width:100%;
        height:100%;
        box-sizing:border-box; 
        overflow-y: scroll; 
        #mainmenu{
            // @extend %block;
            padding:10px;
            // border-top:1px solid #ccc;
            // border-bottom: 1px solid #ccc;
            max-width: 500px;
            margin: 60px auto 20px auto;    
            width:75%;      
            li{
                a{
                    display: block;
                    font-size: 20px;
                    color:$lightColor;
                    position: relative;
                    margin:15px auto;
                    text-align: center;
                    &.active{
                        font-weight:bold;
                        color: #c4bb5c;
                    }
                }
                &:hover{
                    a{
                        font-weight:bold;
                        color: #c4bb5c;
                    }
                }
            }
        }
        ul.social{
            display: table;
            margin:auto;
            width:120px;
            li{
                &.fbshare, &.line{
                    display: inline-block;
                    width:48%;
                    text-align: center;
                    vertical-align: middle;
                }
                &.fbshare{
                    // padding:15px 95px;
                }
                &.line img{
                    // max-width: 30px;
                    margin: 0 auto 0 16px;
                }
                
            }
        }

    }

}

@include breakpoint(max-width 1024px) {
    .logo-pc{
        display: none;
    }
}

#header.down{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 10;
	color:#fff;
	height:60px;
    background-color: #fff;
    margin-top:0px;
    .header_content{
        border-bottom: 0;
        &:after {
            display: none;
        }
    }
    @include breakpoint(max-width 1024px) {
        position: relative;
        height: 0;
    }
}


.active{
   #wrap{
        // left:-240px;
    }
    #smenu{
        // right:240px;
    }
    nav{
        top: 0;
    }
}

section{
    position: relative;
    z-index: 1;
    background: #fff;
    overflow: hidden;
    >div.con{
        @extend %block;
        box-sizing: border-box; 
    }
}

h2.title{
    font-weight:bold;
    font-size:66px;
    text-align: center;
    color:#ffffff;
    position: relative;
    padding-bottom:20px;
    display: table;
    margin:auto;
    div.year{
        font-size:110px;
        color:$textPurple;
    }
    >span{
        font-size:66px;
        color:#ffffff;
        font-weight:bold;
    }
    &:after{
        display: block;
        content: "";
        position: absolute;
        width:100%;
        height:5px;
        bottom:0px;
        left: 0;
        background:#ffffff;
    }
    b{
        display: block;
        text-align: center;
        font-size:38px;
        color:#ffffff;
        span{
            font-size:38px;
        }
    }
}
#forum{
    h2{ 
        margin-bottom:60px;
        >span{
            letter-spacing: 5px;
            @include breakpoint(max-width 480px) {
                letter-spacing: 3px;
            }

        } 
        &:after{
            background:#ffffff;
        }
    }
    b{
        font-weight: 500;
    }
    .btns a{
        background: url(../images/button-signup.svg) no-repeat;
        width: 249px;
        height: 106px;
        @include breakpoint(max-width 980px){
            width: 200px;
            background-size: 100% auto;
        }
        &:hover{
            background: url(../images/button-signup-hover.svg) no-repeat;
            background-size: 100% auto;
        }
        &::after{
            display: none;
        }
    }
}
#award{ 
    h2{
        color:$lightColor;
        padding-top: 20%;
        >span{
            color:$lightColor;
        }
        &:after{
            background:$titleLine;
        }
    }
    .title b{
        font-weight: 500;
    }
    .year, b, span{
        color:$lightColor;
    }
    .dedication_light{
        background-image:url(../images/light.png);
        background-size:120%;
        background-repeat:no-repeat;
        background-position:center top;
        position:absolute;
        z-index:-1;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        transition:all 1s;
        -moz-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%)
    }
    &.active .dedication_light{
        -moz-transform:translateY(0%);
        -ms-transform:translateY(0%);
        -webkit-transform:translateY(0%);
        transform:translateY(0%)
    }
}
.btns{
    text-align: center;
    li{
        display: inline-block;
        margin: 10px 20px;
        &.icon{
            a{
                &:after{
                    content:"";
                    display: inline-block;
                    width:20px;
                    height:20px;
                    background: url(../images/video-arrow.png) center center no-repeat ;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-top: 5px;
                    transition:all 0.5s;
                }
            }
        }
    }
    a{
        display: block;
        background: $primaryColor;
        color:#ffffff;
        text-align: center;
        font-size:26px;
        font-weight: bold;
        width:250px;
        padding: 18px 0;
        &:hover{
            background-color: $hover;
        }
        &::after{
            content:"";
            display: block;
            width: 47px;
            height: 19px;
            background: url(../images/button-arrow.png) center center no-repeat;
            margin: 6px auto 0;
        }
    }
}
#survey{
    overflow: hidden;
    .title b{
        font-weight: 500;
    }
    .btns a{
        color: #ffffff;
        background: $darkBlue;
    }
}

.mores.show{
    .btns{
        li.icon{
            a:after{
                @include transform(rotate(270deg));
            }
        }
    }
}

.white{
    .btns a{
        background-color: #ffffff;
        color: $primaryColor;
        &::after{
            background: url(../images/button-arrow-dark.png) center center no-repeat;
        }
        &:hover{
            color: #ffffff;
            background-color: $hover;
            &::after{
                background: url(../images/button-arrow.png) center center no-repeat;
            }
        }
    }
}

.active{
    .fadeinup{
        opacity: 0;
        &.active{
          @include animation(fadeInUp 1s);
          opacity: 1;
        }
    }
}
.fadeinup{
    opacity: 0;
}

.fancybox-close{
    background-image: url(../images/dialog-close.png) !important;
    background-size: cover !important;
    top: 15px !important;
    right: 15px !important;
    &:hover{
        opacity: 0.8;
    }
}
@include breakpoint(max-width 480px) {
    .fancybox-skin{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
.boxcon{
    h4.title{
        display: table;
        color:$textColor;
        font-size:36px;
        font-weight: bold;
        margin: 20px auto;
        text-align: center;
        &::after{
            content:"";
            display: inline-block;
            vertical-align: middle;
            width:50%;
            height:2px;
            background:$textColor;
            margin: 20px auto;
        }
    }
    
}


ul.tabs{
   width:100%;
   box-sizing: border-box;
   display: inline-block;
   margin-bottom:10px;
   border-bottom: $textColor 1px solid;
   li{
      display: inline-block;
      width: auto!important;
      margin:0!important;
      &.active{
         a::after{
            background: $textColor;
         }
      }
      a{
         display: block;
         text-align: center;
         text-decoration: none;
         padding:8px 20px;
         margin:1px 0;
         color:$textColor;
         font-size:20px;
         font-weight: bold;
         position: relative;
         &::after{
            content:"";
            content: "";
            width: 100%;
            height: 5px;
            background: transparent;
            position: absolute;
            left: 0;
            bottom: -2.5px;
            width:100%;
            height:4px;
            background:transparent;
            margin: 0 auto;
        }
     }
   }
}
.tab_container{
    // padding-bottom:50px;
   .tab_content{
       max-width: 1000px;
       padding:10px;
       box-sizing: border-box;
      // display: none;
      // &.active{
      //    display: block;
      // }
   }
}
@include breakpoint(max-width 480px) {
    #awardList .tab_content{
        padding: 0;
    }
}

.table-wrap{
    background-color: $textColor;
    padding: 40px 20px 30px;
    margin: 40px auto 100px;
    position: relative;
    &:last-child{
       margin-bottom: 0; 
    }
    div{
        background-color: #8b5d13;
        position: absolute;
        width: 70%;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        border: 1px solid #ffffff;
        left: 50%;
        transform: translateX(-50%);
        top: -36px;
        min-width: 200px;
    }
    li{
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
        @include breakpoint(max-width 480px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 12px;
        }
        span{
            line-height: 50px;
            font-size: 20px;
            background: #ffffff;
            width: 160px;
            display: block;
            text-align: center;
            font-weight: bold;
            color: $textColor;
            flex: 0 0 auto;
            @include breakpoint(max-width 480px) {
                width: 100%;
                font-size: 18px !important;
            }
        }
        p{
            font-size: 18px;
            color: #ffffff;
            padding-left: 20px;
            flex: 0 1 auto;
            @include breakpoint(max-width 480px) {
                padding-left: 0;
                padding-top: 10px;
            }
        }
    }
}

.sectt{
    font-size:24px;
    font-weight:bold;
    display: table;
    margin:35px auto 25px auto;
    &:before, &:after{
        content:"";
        display: inline-block;
        vertical-align: middle;
        width:42px;
        height:1px;
        background:$darkColor;
        margin:0 10px;
    }
}

.rwdvideo{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, object, embed{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

.section-grid{
	display: inline-block;
	vertical-align: middle;
	width:100%;
    // margin-top: 80px;
    // position: absolute;
    // bottom: 0;
    @include breakpoint(max-width 980px) {
        position: relative;
    }  
}

.section-grid figure {
  position: relative;
  overflow: hidden;
}
.section-grid .item {
  float: left;
  width: 25%;
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  position: relative;
  z-index: 1;
  margin-top: -2px;
}


.section-grid figure {
  position: relative;
  overflow: hidden;

}.section-grid figcaption {
//   background-color: rgb(142 112 53 / 80%);
//   opacity: 0.8;
//   background-size: cover;
  background-color: #8e7035cc;
  position: absolute;
  color: #fff;
  padding-top: 15%;
  z-index: 5;
  width: 100%;
  height: 90%;
  top: 0px;
  line-height: 1.5em;
  font-weight: bold;
  top: -1px;
}


.section-grid figcaption .title {
  font-size: 130%;
  margin-bottom: 20px;
  padding: 0 7%;
}


.section-grid figcaption .content {
  color: #fff;
  margin-bottom: 30px;
  padding: 0 1%;
  text-align:center;
}

.section-grid figcaption .content b{
  font-size: 24px;
  line-height: 1.3em;
  color:#fff;
  @include breakpoint(max-width 768px) {
    font-size: 20px;
  }
}
.section-grid figcaption .content strong{
  color:#ffe400;
}
.section-grid figcaption .content strong span{
  font-size: 1.3em;
  color:#ffe400;
  font-weight: bold;
}

.section-grid figcaption .content span{
  font-size: 0.9em;
	line-height: 1.3em;

}
.section-grid figcaption .content i{
  padding-right:22px;
  background:url(../images/icon.png) left center no-repeat;
}

.section-grid figcaption .text {
    position: relative;
    top: 20%;
}

.section-grid figcaption .more a{
    font-size: 20px;
	display:table;
	margin:auto;
	padding:2px 8px;
    border-radius: 50px;
	color:#fff;
	background:#e8be6b;
    line-height: 40px;
    width: 120px;
    text-align: center;
}
@include breakpoint(max-width 720px) {
    .section-grid figcaption .content {
        font-size: 1.2em;
    }
}
@include breakpoint(max-width 980px) {
    .section-grid .item{
        width: 50%;
      }
}  

@media (max-width: 600px){
    .section-grid .item {
        width: 100%;
    }
    .section-grid figcaption .content {
        font-size: 1em;
    }
}

footer{
    .support-center{
        max-width: 1024px;
        margin: 0 auto;
    }
    .support-wrap {
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        margin: 100px auto;
        // flex-direction: column;
        @include breakpoint(max-width 980px) {
            margin: 100px 10px;
        }
        li {
            display: flex;
            align-items: center;
            margin: 20px auto;
            h3 {
                font-size: 24px;
                font-weight: 800;
                width: 130px;
                flex: 0 0 auto;
                @include breakpoint(max-width 980px) {
                    width: 120px;
                }
                @include breakpoint(max-width 480px) {
                    font-size: 18px;
                    width: 100px;
                }
            }
            @include breakpoint(max-width 480px) {
                &:last-child h3{
                    margin-bottom: 80px;
                }
            }
            &:last-child .support-box a{
                cursor: auto;
            }
        }
        .support-box {
            display: flex;
            align-items: center;
            @include breakpoint(max-width 480px) {
                flex-wrap: wrap;
            }
        }
        @include breakpoint(max-width 480px) {
            flex-direction: column;
            margin: 20px 10px 60px;
        }
        a{
            margin: 0 30px 0 0;
            @include breakpoint(max-width 480px) {
                margin: 15px 42px 15px 0;
            }
        }
    }
    .component{
        background: $primaryColor;
        text-align: center;
        padding:30px 0;
        *{
            color:#fff;
        }
        @include breakpoint(max-width 700px) {
            span{
                display: block;
            }
        }
    }
}

//===== RWD變版 =====

//非 IE8 專用
@include breakpoint(0px) {
    html, body {
        min-width: 320px
    }
}
//Pad 專用
@include breakpoint(max-width 1000px) {

    section{
        >div.con{
            width:100%;
            padding:0px 15px;
        }
    }
}
@include breakpoint(max-width 980px) {

    #gotop{
        right: 20px;
        bottom: 70px;
        img{
            width: 65px;
        }
    }
    #signup{
        img{
            width: 100px;
        }
    }
}

@include breakpoint(max-width 768px) {

    h2.title{
        font-size:38px;
        >span{
            display: inline-block;
            font-size:42px;
        }
        // &:after{
        //     width:150px;
        //     margin-left:-75px;
        // }
        b{
            font-size:24px;
            span{
                display: inline-block;
                font-size:24px;
            }
        }
    }
    #unit, #survey{
        h2{
            margin-bottom:40px;
        }
    }
    ul.tabs{
        li{
           a{
              padding:8px 12px;
              font-size:18px;
          }
        }
     
     }
}
//Phone 專用
@include breakpoint(max-width 700px) {

    .boxcon{
        // margin: 0 -10px;
        h4.title{
            font-size:36px;
            display: flex;
            flex-direction: column;
          }
    }

}



